/* MOVIL */


@media screen and (max-width:600px){

	.debajo_cta H1{
		font-size:2.5rem;
	
	}
	.que_hacemos_por_ti_contenido{
		justify-content: space-around;
		flex: 0 1 calc(100% - 1rem);
		
	}
	.cta-imagen, .cta-imagen2, .cta-imagen3{
		height:150vw;
	}

	.cta-imagen{
		height:100vh;
	}


	.imagenes_inicio h3{
		font-size: 1.4rem;
	}


.texto_propuestas{
	display:grid;
	grid-template-columns: 50% ;
	grid-template-rows: 10%;
	padding: 80px 100px 100px 100px;
	grid-gap:80px;
}



}

@media screen and (max-width:650px){


.header-contenido{

	display:flex;
	justify-content: start;
	align-items: center;
	font-size: 12px;

}

.parrafo_cta{
	max-width: 80%;
	margin-bottom:15%;
}

.parrafo_cta h1{
	line-height: 50px;
	color:white;
	font-size:4em;
	position: relative;
	margin-bottom: 0.4em;
}

}

@media (max-width:838px) and (orientation: landscape){

	.contenedor_menuopen.open{
		justify-content: flex-end;
		margin-top:100px;
	}

	.menu.open ul li{
		padding-bottom: 0px;
	}
	.header-contenido{
		font-size:1em;
		top:50px;
	}

	.header-contenido{

		display:flex;
		justify-content: start;
		align-items: center;
		font-size: 10px;
	
	}
	
	.parrafo_cta{
		max-width: 80%;
		margin-bottom:15%;
	}
	
	.parrafo_cta h1{
		line-height: 50px;
		color:white;
		font-size:4em;
		position: relative;
		margin-bottom: 0.4em;
	}
  }


@media screen and (max-width:414px){

	.header .barra{
		padding: 25px 25px 35px 25px
	}




.header-contenido{

	display:flex;
	justify-content: start;
	align-items: center;
	font-size: 8px;

}

.parrafo_cta{
	max-width: 80%;
	margin-top:20%;
}

.parrafo_cta h1{
	line-height: 40px;
	color:white;
	font-size:2.5em;
	position: relative;
	margin-bottom: 0.4em;
}


	.contenedor_inicio{
		font-size:13px;

		margin: 0px 0;
		grid-gap: 30px;
		padding:30px;
	}


	.texto_herramientas_iconos{
	display:flex;
	align-items: end;
	justify-content: center;
	font-size:60px;
}

.texto_herramientas{
	display:grid;
	grid-template-columns: repeat(2, 20%);
	justify-content: center;
	padding: 20px 0 100px 0;
	grid-gap: 100px;
}



	.menu.open{
		justify-content: start;
	}

	.menu.open ul a{
		color: #292b2c;
		font-size: 2rem;
		font-weight: 600;
			
	}




	.debajo_cta H1 {
		font-size: 1.4rem;
		
	}

	.tablink H4 {
		font-size: 1.5rem;
		margin-top: -13px;
		
	}


	.parrafo_cta p{
		font-size:1rem;
		line-height: 22px;
	}

	.boton{
		margin-top: 0.7em;
padding: 0.53em 0.53em;
font-size: 1.1em;
font-weight: 500;
cursor: pointer;
	}

	p{
		font-size:1rem;
	}

	h1 {
		font-size:1.3rem;
	}

	h2 {
		font-size:1.2rem;
	}

	h1, h2, h3, h4, h5, h6{
		margin:15px 0px;
	}

	.cuadro_amarillo h1{

		font-size: 40px;

	}

	.call_to_action_footer h2{

		font-size: 40px;
		
	}

	.tut{
		margin-bottom: 0px;
	}


	.flecha_botton .material-icons{
		position: absolute;
		bottom: 10vh;
		width: 100%;
		text-align: center;
		color: white;
		font-size: 80px;
	}

	.header .barra .navegacion ul{
		flex-direction: column;
		justify-content: space-around;
 	}
	

	.contenedor {
	  max-width: 100%;
	  margin: 0 auto;
	  
    }

    .header-contenido{
		bottom:20px;
		font-size:12px;
	}
    

	
	.logo{
		width: 180px;
		padding-top: 5px;
	}
	
	.barra{
		padding: 0px 0px;
		min-height: 100px;
	}
	
	.logos_cta{
		padding: 0px;
		margin:0px;
	}

	.logos_cta li img {
		max-width: 50%;
		height: auto;
	}
	.titulo_debajo_cta{
		margin-top:20px;
	}
	.debajo_cta{
		padding: 0px 0px;
	}

	.imagenes_inicio{
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding-left: 10px;
	}
	.imagenes_trabajos {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		margin: 0;
		padding:0;
	}
	.texto_footer_izq{
		padding: 5px;
	}
	.direccion{
		font-style: normal;
		justify-content: flex-end;
		color:black;
	}

	.copyright{
		z-index: 99;
	}
	.equipo_fotos1 li{
		margin-left: 0;
	}

	.equipo_fotos2 li {
		padding-left:2px;
		margin-left: 1px;
	}
	

	.tarifa_bloque{
		margin:10px;
	}
	.imagenes_trabajos img{
		margin-left: 20px;
		width:90%;
	}
	.overlay {
	  left: 20px;
	  width: calc(90% - 0px); 
	  bottom: 2em;
	}
	.container:hover .overlay {
  		height: calc(100% - 2em);
  		width: calc(90% - 0em);
	}
	.imagenes_trabajos img{
		padding-left: 0px;
	}
	h2.que_hacemos_por_ti_subtitulo{
		margin:40px 0 40px 0;
	}

	.titulo_trabajos a{
		padding: 10px 0 10px 0;
	}

	.que_hacemos{
		grid-gap:40px;
	}

	.bloque_2{
		padding-bottom:50px;
	}

	.bloque_4{
		padding: 60px 30px 0px 30px;
	}

	.bloque_herramientas{
		padding: 20px 0 20px 0;
	}

	.b_titulo{
		grid-gap: 20px;
	}

	.formulario_inicio button {
		margin-bottom: -35px;
	}




	#logo_footer{
		width: 40px;
		height: 40px;
	}
	.menu_footer {
		align-content: center;
		justify-content: center;
		align-items: center;
		margin-top:0px;
		text-align: center;
	}

	.logo_footer h1{
		width:130px;
	}

	.enlaces_footer_container{
		color: white;
		font-size:0.8em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align:center;
	
	}

	.enlaces_footer_container .enlaces_footer{
			padding:20px 0 10px 0; 
	
	}

	
	.cabecera_titulo_grande2{
	text-align: center;
	margin-bottom: -5px;
	margin-top: -10px;
}

.texto_propuestas p{
	padding:0px;
}

	.copyright p{
		margin-left:0px;	
	}

	.logo_texto_subir img{
		width:40px;
	}

	.logo_texto_subir {
		margin-top: 40px;
	
	}

	.imagenes_inicio h3{
		font-size: 1.9rem;
	}
	
	
	.logo_footer{
		margin: 0;
		margin-right:-40px;
	}
	
	 .logo-whatsapp{
	 width:50px;
	 height: 70px;
	 position: fixed;
	 bottom: 30px;
	 right: 40px;
	 display:flex;
	 align-content: flex-end;
	 z-index:99;
	 }

	 .logo-whatsapp.open{
		display:none;
	}

	 .value_container{
	
		font-size:10px;
		
	}
	 
	

}

@media (max-width:320px){
	.header-contenido{
		font-size:10px;
		top:220PX;
	}

	.texto_propuestas_iconos{
		padding: 0px;
	}
	.logo_texto_subir{	
		font-size:12px;
	}


	.header-contenido{

		display:flex;
		justify-content: start;
		align-items: center;
		font-size: 9px;
	
	}
	
	.parrafo_cta{
		max-width: 80%;
		margin-bottom:15%;
	}
	
	.parrafo_cta h1{
		line-height: 40px;
		color:white;
		font-size:4em;
		position: relative;
		margin-bottom: 0.4em;
	}
  }