@media screen and (max-width:1200px){


	.que_hacemos_por_ti_contenido{
		flex: 0 1 calc(50% - 1rem);
		justify-content: space-around;
	}
}

@media screen and (max-width:966px){
	
	.menu_footer ul{
		margin-left:0px;
	}
}

@media screen and (min-width:837px) {



	.menu{
		top: 0px;
		color:#fff;
		right: -40px;	
	}
	 .header .barra .navegacion ul{
		flex-direction: row;
		justify-content: space-around;
		margin-right: 30px;
		max-width:600px;
	 }
	 
	 .navegacion .menu ul li:nth-child(3) {

		min-width: 175px;
	 }
	 
	 .navegacion .menu ul li:nth-child(5) {

		min-width: 150px;
 	}
 	.transformicon{
		display: none;
	}

	.w3-container{
		display:none;
		
	}


	
	
 	
}



/*TABLET */

@media screen and (max-width:837px){


	.debajo_cta H1 {
		font-size: 2.5rem;
		
	}

	.tablink H4 {
		font-size: 1.5rem;
		margin-top: -13px;
		
	}
	

	.active, .btn:hover {
		color: black !important;
	  }

	.footer_int{
		padding-top: 30px;
	}

	.bloque_3 h3{
		padding-bottom: 30px;
	}

	.texto_propuestas{
		display: block;
		flex:column ;
		justify-content: space-between;
		padding:0px 0px;
		
	}

	.contador h3, .value_con span, #value2, #value3, #value {
		font-weight:400;
	}


	.texto_propuestas_iconos{
		display: block;
		flex:column ;
		justify-content: space-between;
		padding:20px 50px;
		
	}


	.que_hacemos_por_ti_contenido{

		flex: 0 1 calc(50% - 1rem);
		justify-content: space-between;
	}

	
	.tabs_responsive{
		text-align: center;

	}

	.bloque_tabs{
		margin-top:10px;
	}

	.tabs_posicion{
		display: flex;
		flex: nowrap;
		justify-content: center;
		padding-top: 30px;
		padding-left: 70px;
		padding-right: 60px;
		flex-grow: 100%;

	}

	.texto_tabs{
		width:75%;
		margin: 0 auto;
		padding: 5px;
		text-align: center;
	}

	.r.material-icons{
		color: #FFD200;
		vertical-align: baseline;
	}

	.tablink{
		display: flex;
		justify-content: space-around;
		color:white;
		text-decoration: none;
		padding:20px;
		
	}


	.imagen_tab_1{
		width: 300px;
		display: block;
		margin: 0 auto;
		padding:30px;
	}
	
	.imagen_tab_2{
		width: 200px;
		display: block;
		margin: 0 auto;
		padding:30px;
	}
	
	
	.imagen_tab_3{
		width: 300px;
		display: block;
		margin: 0 auto;
		padding:30px;
	}

	.linea_debajo_a{
		text-decoration: none;
		margin-bottom: 50px;
	}
	
	
	.tabs-navigation{
		display:none;
	}

	.value_container{
	
		font-size:15px;
		
	}
	
	
	.logos_cta{
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		text-align: center;
		justify-content: space-around;
		
    }


	.imagenes_inicio h3{
		font-size: 2rem;
	}



	.logos_cta li img {
		width: 50%;
		height: auto;
		padding:10px;
	}
	
	.header-contenido{
		padding: 0px 1.25em;
		top: 250px;	
		font-size: 15px;
	}

	
	.formulario_inicio{
		display: flex;
		flex-direction: column;
	}
	
	.barra{
		padding: 0px 0px;
		max-height: 70px;
	}
	.logo{
		width: 300px;
		padding-top: 5px;
	}
	
	.text {
	    color: black;
	    opacity: 1.5;
	    font-weight: 600;
	    padding-bottom: 10px;
	    text-align: center;
	}


	.text2 {
	    color: black;
		position: absolute;
		min-width: 200px;
		top: 50%;
		left:50%;
		opacity: 1.5;
		font-weight: 400;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	#logo{
		width:18px;
		margin-left:-6px;
	}

	#logo2.open{
		display: inline;
		margin-left:-6px
	}

	.footer_int{
		padding-top: 30px;
	}
	
	.logo_footer{
		align-content: center;
		align-self: flex-start;
		flex: 0 0 100%;
		display:none;
		
	}
	
	.logo_footer h1{
		width:170px;
	
	}
	


	.menu_footer{
		display: none;
	}
	

	.copyright p{
		margin-left:0%;

		
	}
	
	
}
